#fst:hover{
  background-color: #EA4335;
  color: white;
}

#snd:hover{
  background-color: #4285F4;
  color:white;
}
#thd:hover{
  background-color: #FBBC05;
  color: white;
}
#fth:hover{
  background-color: #34A853;
  color: white;
}

.linkcolor{
  color: purple;
}

.linkcolor:hover{
  color: white;
}


.col-md {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-right: 10px;
}

h1{
  background-color: purple;
  padding: 10px;
  padding-top: 5px;
}

#headline {
  color: white;
}

.col-xl {
  background-color: purple;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
}

.col-lg:hover{
  color: purple;
  background-color: white;
}


.col-lg {
  color: white;
  background: purple;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.contactlink {
  color: white
}

.contactlink:hover{
  color: white;
  font-weight: bold;
}
