#fst:hover{
  background-color: #400B86;
  color: white;
}

#snd:hover{
  background-color: #008A44;
  color:white;
}
#thd:hover{
  background-color: #9DBE00;
  color: white;
}
#fth:hover{
  background-color: #C52F00;
  color: white;
}

.linkcolor{
  color: purple;
}

.linkcolor:hover{
  color: white;
}


.col-md {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.col-md:hover a{
  color: white;
}

h1{
  background-color: purple;
  padding: 10px;
  padding-top: 5px;
}

#headline {
  color: white;
}

.col-xl {
  background-color: purple;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.col-lg:hover{
  color: purple;
  background-color: white;
}


.col-lg {
  color: white;
  background: purple;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 18px;
}

.contactlink {
  color: white
}

.contactlink:hover{
  color: white;
  font-weight: bold;
}

table {
  border: 3px dotted white;
  margin:auto;
  margin-top: 10px;
}

th {
  border: 3px dotted white;
  padding: 10px;
}

td {
  border: 3px dotted white;
  padding: 10px;
  font-weight: 400;
}

.col-lg:hover table {
  border: 3px dotted purple;
  margin:auto;
  margin-top: 10px;
}

.col-lg:hover th {
  border: 3px dotted purple;
  padding: 10px;
}

.col-lg:hover td {
  border: 3px dotted purple;
  padding: 10px;
  font-weight: 400;
}
