$fontheaders: bolder;
$normalmargin: 10px;

#factshead {
  font-weight: $fontheaders;
  margin: $normalmargin;
}

#facts {
  font-size: 18px;
}

li {
  font-weight: 400;
}

#myfoto {
  width: 66%;
  margin: $normalmargin;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-lg:hover{
  #myfoto{
    border: 3px dotted purple;
  }
}
