 /* NOTE: I started with only one stylesheet but then it turned out to be easier to put the majority of the stuff into one common for all pages  */
 #portrait{
    width: 66%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#citation {
  font-style: italic;
  text-align: left;
  padding: 20px;
}

#author {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

#picture_title {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}

#visit{
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
}

@media (max-width: 1000px){
  #optional {
    display: none;
  }
}

table {
  border: 3px dotted white;
  margin:auto;
  margin-top: 10px;
}

th {
  border: 3px dotted white;
  padding: 10px;
}

td {
  border: 3px dotted white;
  padding: 10px;
  font-weight: 400;
}
